{% extends 'portal/search_results.html' %}


{% block nav_block %}


<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href=/student/>{{current.name}}</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
	  <section class="top-bar-section">
	    <ul class="right">
	  	  <li class="active"><a href=/student/>Home</a></li>   
	      <li id="search_click"><a href="#">Search</a></li>
	      <li><a href=/portal/logout>Logout</a></li>   
	  </section>
	</nav>




{% endblock %}