<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../../../static/css/foundation.css" />
    <script src="../../../static/js/vendor/modernizr.js"></script>
<style>
 #circle
{
position:relative;
border-radius:50% 50% 50% 50%;
width:80px;
height:80px;
left:65px;
}
</style>
<script type="text/javascript">
		$(document).ready(function(){
			$('#search_bar').hide();
			$('#search_click').click(function(){
				$('#search_bar').slideToggle();
			
			});
		});
	    </script>
  </head>
<body>
<!--    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">

<div class="contain-to-grid">-->
<nav class="top-bar" data-topbar role="navigation">
<ul class="title-area">
<li class="name">
<h1><a href="#">     TA Portal	</a></h1>
</li>
<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
<!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
</ul>
<section class="top-bar-section">
      <ul class="right">
      <li class="non-active"><a href="./#">Home</a></li>
      <li class="non-active"><a href="/portal/logout">Logout</a></li>
</section>
</nav>
<div class="result"style="position:relative ; top:30px ; left:300px ;">
<dl style="margin-top:3px;margin-left:200px" class="tabs" data-tab>
  <dd ><a href="view.html">View Marks</a></dd>
  <dd class="active"><a href="./#">Upload Marks</a></dd>
</dl>
</div>
<div class =" t1">
  <table style="width:90%;margin-top:80px" align="center">
  <tr>
    <th><a href="#"> STUDENTS </a></th>
    <th><a href="#"> ASSIGNMENT1</a></th>
    <th><a href="#"> ASSIGNMENT2</a></th>
    <th><a href="#"> Quiz 1</a></th>
    <th><a href="#"> MID 1 </a></th>
    <th><a href="#"> Quiz 2 </a></th>
    <th><a href="#"> MID 2 </a></th>
    <th><a href="#"> ASSIGNMENT3</a></th>
    <th><a href="#"> END SEM</a></th>
    <th><a href="#"> TOTAL</a></th>
    <th><a href="#"> GRADE</a></th>	
  </tr>
  <tr>
    <th><a href="#">Aditya </a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <th><a href="#">Shashank </a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <th><a href="#">Shubham </a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <th><a href="#">Sanatan</a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <th><a href="#">Prateek</a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <th><a href="#">Rishabh</a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <th><a href="#">Mounika</a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>	
  <tr>
    <th><a href="#">Tosh</a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
<tr>
    <th><a href="#">Sidhaarth</a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
<tr>
    <th><a href="#">Meha</a></th>
    <th><input type="text"></th>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
  </tr>
</table>	
  </div>


</div>
</div>
</div>
</div>

<div class="footer" style="bottom:0px;position:fixed;width: 100%;" >
     <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
      <section class="top-bar-section"> <!-- Right Nav Section --> 
        <ul class="right">
        <li><a href="#">Admin login</a></li>
      <li> | </li>
      <li><a href="#">Courses</a></li>
       <li> | </li>
      <li><a href="#">ISAS</a></li>
       <li> | </li>
      <li><a href="#">Student's Mail</a></li>
       <li> | </li>
      <li><a href="#">IIIT Homepage</a></li>
        </ul> <!-- Left Nav Section --> 
      </section>
    </nav>
  </div>
</body>
</html>

